{% if not post.tags.empty %}
    <p class="post-tags">
        {% for tag in post.tags %}
            <span class="label label-default">
               <a href="{{ path('blog_index', { slug: tag.name }) }}"><i class="fa fa-tag"></i> {{ tag.name }}</a>
            </span>
        {% endfor %}
    </p>
{% endif %}